<!--<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"-->
<!--         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee-->
<!--         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"-->
<!--         version="6.0">-->

    <web-app>

    <servlet>
<!--        this name is basically our servlet will be searched for. Eg:earlier it was spring, and we had spring-servlet. Not star. we wil have to remname it as, star-servlet in WEB-INF-->
        <servlet-name>star</servlet-name>
<!--        just find dispatcher servlet in your lib in project struture and copy - paste it, you will get this-->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>star</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>